#############################################################
# CUSTOM GITIGNORE
#############################################################

# Local lazy environment specific json install info
nvim_config/.config/lazyvim/lazy-lock.json
nvim_config/.config/lazyvim/lazyvim.json

#############################################################
# LAZYVIM SUPPLIED GITIGNORE
#############################################################

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Git
*.gitconfig

# Temp python stuff
**/.ipynb_checkpoints/
**/*.pyc

# Vim swap files
**/*.swp
**/*.swo
**/*.swn
**/*.swm
**/*.swl
**/*.swh
**/*.un~
